footer {
  display: flex;
  height: 640px;

  .contacts {
    min-width: 640px;
    height: 100%;
    color: $secondaryFontColor;
    background-color: $backGroundSecondary;

    &-content {
      display: flex;
      flex-direction: column;
      width: 485px;
      margin-left: auto;
    }

    &-heading {
      text-align: left;
      margin-top: 100px;
      margin-bottom: 60px;
    }

    &-list {
      width: 345px;

      &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 35px;
      }

      &__icon {
        display: block;
        margin-right: 20px;
        fill: $primaryColor;

        svg {
          @include size(22px);
        }
      }

      &__text {
        text-transform: uppercase;
        font-weight: $light;
      }
    }

    &-social {
      display: flex;
      justify-content: space-between;
      width: 155px;
      padding-top: 25px;

      &__icon {
        @include size(36px);
        fill: #fff;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .footer-map {
    @include size(100%);
  }
}

@media screen and (max-width: $maxWidth) {
  footer {
    height: 490px;

    .contacts {
      min-width: 490px;

      &-heading {
        font-size: rem(55px);
      }

      &-content {
        width: 370px;
        font-size: rem(17px);
      }

      &-heading {
        margin-top: 65px;
        margin-bottom: 40px;
      }

      &-list {
        width: 320px;

        &__item {
          margin-bottom: 20px;
        }
      }

      &-social {
        padding-top: 25px;
      }
    }
  }
}

@media screen and (max-width: $smDesktopWidth) {
  footer {
    .contacts {
      min-width: 390px;

      &-heading {
        font-size: rem(55px);
      }

      &-content {
        width: 340px;
        font-size: rem(17px);
      }

      &-heading {
        margin-top: 65px;
        margin-bottom: 40px;
      }

      &-list {
        width: 320px;

        &__item {
          margin-bottom: 20px;
        }
      }

      &-social {
        padding-top: 25px;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  footer {
    height: 490px;

    .contacts {
      min-width: 100%;

      &-heading {
        font-size: rem(54px);
      }

      &-content {
        width: auto;
        padding: 0 30px;
      }

      &-list {
        width: auto;
      }
    }

    .footer-map {
      display: none;
    }
  }
}

@media screen and (max-width: $smMobileWidth) {
  footer {
    .contacts-heading {
      font-size: rem(47px);
    }
  }
}
