.modal-image {
  max-height: 90vh;
  max-width: 75vw;
}

.modal-prev,
.modal-next {
  background-color: $primaryColor;
  color: $secondaryFontColor;
  min-width: 40px;
  opacity: 0.7;
  transition: opacity 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}

.modal-prev {
  border-radius: 5px 0 0 5px;
}

.modal-next {
  border-radius: 0 5px 5px 0;
}

@media screen and (max-width: $mobileWidth) {
  .modal-prev,
  .modal-next {
    min-width: 30px;
  }
}
