header {
  position: relative;
  background: url(../images/main-background.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100vh);
    pointer-events: none;

    &-layer {
      position: absolute;
      left: 0;
      bottom: 0;
      @include size(100%);
    }

    &-image-1 {
      background: url(../images/main-mountains.png) bottom no-repeat;
      background-size: 100% 60%;
    }

    &-image-2 {
      background: url(../images/main-boarder.png) no-repeat;
      background-position: top 105% left 92%;
      background-size: 46% auto;
      z-index: 1;
    }

    &-image-3 {
      background: url(../images/main-heel.png) bottom no-repeat;
      background-size: 100% 25%;
    }

    &-image-4 {
      background: url(../images/main-lining.png) no-repeat;
      background-position: bottom -1px right 0;
      background-size: 100% auto;
    }
  }
}

@media screen and (width: 1366px) and (height: 1024px) {
  header {
    .parallax {
      &-image-1 {
        background-size: 126% 60%;
      }

      &-image-2 {
        background-position: top 100% left 130%;
        background-size: 65% auto;
      }

      &-image-3 {
        background-size: 100% 25%;
      }
    }
  }
}

@media screen and (width: 1024px) and (height: 1366px) {
  header {
    .parallax {
      &-image-1 {
        background-size: 195% 65%;
      }

      &-image-2 {
        background-position: top 100% left 200%;
        background-size: 85% auto;
      }

      &-image-3 {
        background-size: 155% 30%;
      }
    }
  }
}

@media screen and (width: 1024px) and (height: 768px) {
  header {
    .parallax {
      &-image-1 {
        background-size: 135% 60%;
      }

      &-image-2 {
        background-position: top 100% left 120%;
        background-size: 60% auto;
      }

      &-image-3 {
        background-size: 100% 25%;
      }
    }
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  header {
    .parallax {
      &-image-1 {
        background-size: 185% 60%;
      }

      &-image-2 {
        background-position: top 105% left 210%;
        background-size: 85% auto;
      }

      &-image-3 {
        background-size: 150% 25%;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  header {
    .parallax {
      &-image-1 {
        background-size: 210% 60%;
      }

      &-image-2 {
        background-position: top 100% left 225%;
        background-size: 85% auto;
      }

      &-image-3 {
        background-size: 150% 25%;
      }
    }
  }
}

@media screen and (width: 375px) and (height: 812px) {
  header {
    .parallax {
      &-image-1 {
        background-size: 260% 60%;
      }

      &-image-2 {
        background-position: top 100% left 400%;
        background-size: 95% auto;
      }

      &-image-3 {
        background-size: 185% 25%;
      }
    }
  }
}
