.testimonials {
  padding: 140px 0;

  &-heading {
    margin-bottom: 60px;
  }

  &-quotes {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    @include size(132px);
  }

  &-quote__left,
  &-quote__right {
    position: absolute;
    bottom: -20px;
    @include size(55px, 40px);
    opacity: 0.1;
  }

  &-quote__left {
    left: -50px;
  }

  &-quote__right {
    right: -50px;
    transform: rotate(180deg);
  }

  &-review {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__client-photo {
      display: block;
      @include size(100%);
    }

    &__client-name {
      position: relative;
      font-family: $secondaryFont;
      text-transform: uppercase;
      font-weight: $black;
      margin-bottom: 30px;
    }

    &__client-text {
      display: block;
      font-weight: $light;
      max-width: 845px;
      margin: 0 auto;
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .testimonials {
    padding: 90px 0;

    &-review__client-name {
      margin-bottom: 10px;
    }
  }
}
