.button {
  display: block;
  font-size: rem(15px);
  font-family: $secondaryFont;
  font-weight: $bold;
  text-transform: uppercase;
  @include size(120px, 50px);
  color: $secondaryFontColor;
  background-color: $primaryColor;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: scale(0.9);
  }
}
