.modal-overlay,
.modal-submitted,
.modal-submitted__result {
  position: fixed;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include size(100vw, 100vh);
}

.modal-submitted__result,
.modal-submitted {
  color: $secondaryFontColor;
  border-radius: 10px;
}

.modal-submitted {
  top: calc(50vh - (85px / 2));
  left: calc(50vw - (295px / 2));
  font-size: rem(25px);
  padding: 25px;
}

.modal-submitted__result {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: rem(20px);
  padding: 15px;
}

.modal {
  z-index: 100;
  display: flex;
}

.modal-show {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s;
}
