// fonts
$mainFont: 'Muli', Helvetica, Arial, sans-serif;
$secondaryFont: 'Catamaran', Helvetica, Arial, sans-serif;

// font-sizes
$mainFontSize: 18px;
$mainLineHeight: 1.6;
$headerLineHeight: 1;

// font-weight
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// screen widths
$maxWidth: 1740px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tabletWidth: 768px;
$smtTabletWidth: 640px;
$mobileWidth: 640px;
$smMobileWidth: 320px;

// colors
$primaryColor: #ff660d;

$dotColor: #d1d8df;

$mainFontColor: #2f2f2f;
$secondaryFontColor: #fff;

$backGround: #f7f7f7;
$footerBackground: #2f2f2f;
