@import 'abstracts/abstracts';
@import 'base/base';
@import 'components/components';
@import 'layout/layout';
@import 'layout/gallery-modal';

html,
body {
  position: relative;
  font-family: $mainFont;
  color: $mainFontColor;
  font-size: $mainFontSize;
  font-weight: $regular;
  line-height: $mainLineHeight;
  background-color: $backGround;
  scroll-behavior: smooth;
}

a {
  color: $secondaryFontColor;
}

h1,
h2,
h3 {
  font-family: $secondaryFont;
  text-transform: uppercase;
  line-height: $headerLineHeight;
  font-weight: $black;
}

h2 {
  font-size: rem(60px);
  text-align: center;
}

@media screen and (max-width: $maxWidth) {
  html,
  body {
    font-size: calc(#{$mainFontSize} - 2px);
  }

  .container {
    max-width: 1124px;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .container {
    max-width: 824px;
  }
}

@media screen and (max-width: $mobileWidth) {
  h2 {
    font-size: rem(42px);
  }
}
